.answerButton {
	display: flex;
	align-items: center;
	height: 70px;
	padding-left: 15px;
	border: 1px solid #686868;
	border-radius: 8px;
	margin-bottom: 20px;
	font-size: 20px;
	cursor: pointer;
}

.answerButton:hover {
	background-color: #9576f1;
}

.neutral {
	background-color: white;
	border: 1px solid #686868;
}

.correct {
	background: #dffff2;
	border-color: #00d397;
}

.incorrect {
	background: #FFEBEB;
	border-color: #FF4A4A;
}