.nextButton {
	margin: auto;
	width: 150px;
	height: 55px;
	background: #553f9a;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
}

.endButton {
	padding: 10px;
	width: 250px;
	height: 65px;
	border: none;
	font-size: 25px;
	font-weight: 500;
	border-radius: 4px;
	background-color: #dc3545;
	color: #fff;
	cursor: pointer;
}

.endButton:hover {
	background-color: #c82333;
}

.btnContainer {
	padding-top: 25px;
}